<ul class="file-list">
  <% if (subPath) { %>
  <li class="folder" onclick="gotoBackPage()"><span>...</span></li>
  <% } %> <% for (let i = 0; i < files.length; i++) { %> <%
  if(files[i].isDirectory) { %>
  <li class="folder" onclick="openFolder(`<%=files[i].name%>`)">
    <%= files[i].name %>
  </li>
  <% } else { %>
    <% let fullPath = (subPath?subPath+'/' : '')+files[i].name %>
  <li
    class="file"
    onclick="openMovieUrl(`<%=fullPath%>`)"
  >
    <span><%= files[i].name %></span>
    <button class="copy-button" onclick="handleCopy(event,`<%=fullPath%>`)">
      <svg width="18" height="18" viewBox="0 0 24 24">
        <path
          fill="#fff"
          d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm-1 4H8c-1.1 0-1.99.9-1.99 2L6 21c0 1.1.89 2 1.99 2H19c1.1 0 2-.9 2-2V11l-6-6zM8 21V7h6v5h5v9H8z"
        ></path>
      </svg>
    </button>
  </li>
  <% } } %>
</ul>
